@import "./viewports";
@import "./pallet";

$game_height: 90%;
$card-back-color: rgb(212, 215, 212);
$card-edge-color: rgb(76, 130, 92);
$revealed-tile-background-color: white;
$revealed-tile-color: black;
$tile-dimension: 45px;
$hover-color:  rgb(177, 221, 136);

.container {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: $game_height;
  margin-bottom: 15px;;
}

#board{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  height: $game_height;
  width: 100%;
}

#board .revealed {
  align-items: center;
  display: inline-grid;
}

.btn-start {
  font-size: 26px;
  font-family:   -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  border: 2px solid black;
  background-color: rgb(241,240,235) ;
  box-shadow: 5px 3px 6px 0 rgba(0, 0, 0, 0.32);
  color: black;
  border-radius: 13%;
  cursor: pointer;
}

.btn-start:hover {
  background-color: $hover-color;
  border: 3px solid black;
  box-shadow: 5px 4px 7px 0 rgba(0, 0, 0, 0.4);
  font-weight: 500;
}

.introScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
  min-height: 100vh;
}

.gameScreen {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: start;
  align-items: center;
  gap: 10vh;
}

.hidden {
  display: none;
}
.alphabet-container {
  border:2px solid black;
  border-radius: 1.5px;
  box-shadow: 0px 4px 8px 0px transparentize($palette-brand-rgb-170, 0.84);
  margin: 15px 15px 0px 15px;;
  max-width: 1000px;
  background-color: $palette-brand-rgb-10;
}

.alphabet-row {
  display:flex; 
  font-weight: 200;
  font-size: 24px; 
}

.alphabet-row > div {
  padding: 5px;
  margin: 5px;
  flex-grow: 1;
  text-align: center;
  &.hidden {
    background-color: red; //use this for now
  }
  &.visible {
    box-shadow: inset 0 0 12px rgba(0,0,0,0.36);
  }
}


.tile {
  align-self: flex-start;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  margin-right: 2px;
  border: 2px solid rgb(7, 2, 7);
  height: 100%;
  width: 100%;
  min-height: $tile-dimension;
  min-width: $tile-dimension;
  max-height: $tile-dimension;
  max-width: $tile-dimension;
  flex-grow: 1;
  transition: background-color 600ms cubic-bezier(0.11, 0.24, 0.28, 0.98), color 800ms linear;
  color: transparent;
  &.revealed{
    background-color: $revealed-tile-background-color;
    color: $revealed-tile-color;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
    font-size: 30px;
  }
  &.edge{
    background-color: $card-edge-color;
    color: $card-edge-color;
  }
  &.back{
    background-color: $card-back-color;
    color:$card-back-color;
  }
  &.blank{
    background-color: $revealed-tile-background-color;
  }
}

.tile-row{
  display: flex;
  flex-direction: row;
  align-content: start;
  margin-bottom: 2px;
  width: 100%;
}

html, body {
  background-color: $palette-neutral-rgb-40;
  color: $palette-neutral-rgb-180;
  font-family: BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
}